<?xml version="1.0"?>
<launch>
	<include file="$(find jps_feature_matching)/launch/dyn_integ_test.launch" />
	<remap from="/piece_locator/input_image" to="/feature_matcher/homographic_transform" />
	<node pkg="jps_triangulation" type="piece_locator" name="piece_locator_node" ns="piece_locator" output="screen" />
</launch>
